/* Custom CSS for Noteslab */
body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

#header {
  background-color: #F3F5F7;
  margin: 0 auto;
  color: #242D2B;
}

.container-fluid {
  padding: 2% 10%;
}

@media (max-width:1180px) {
  .navbar {
    padding-top: 5%;
  }
}

.navbar-brand {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.navbar-brand-text-color {
  color: #5E6572;
}

.navbar-brand-text-color:hover {
  color: #1C2321;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.nav-item {
  font-size: 1.125rem;
  padding: 0 15px;
}

.dropdown-divider {
  width: 80%;
  margin: 5px auto;
}

.row-header {
  padding: 5% 0;
}

/* .col-lg-6 {
  padding: 0;
} */

h1 {
  line-height: 1.5;
  font-size: 2.5rem;
}

@media (max-width:1180px) {
  h1 {
    font-size: 2rem;
  }
}

.h1-header {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  letter-spacing: 3px;
}

.btn {
  margin: 30px 10px 30px 0;
}

.navbar-btn {
  margin-right: 0;
}

@media (max-width:1180px) {
  .btn {
    text-align: center;
  }
}

.btn:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.btn-dblue {
  background-color: #5E6572;
  color: white;
}

.btn-dblue:hover {
  background-color: #1C2321;
  color: white;
}

.btn-lblue {
  background-color: #A9B4C2;
  color: white;
}

.btn-lblue:hover {
  background-color: #1C2321;
  color: white;
}

.header-image-div {
  overflow: hidden;
  padding: 0;
}

.header-img {
  width: 100%;
  overflow: hidden;
}

@media (max-width:1180px) {
  .header-img {
    margin: 5% auto;
  }
}

@media (max-width:820px) {
  .features-row {
    margin: 30px auto;
  }
}


.feature-col {
  padding: 3%;
  text-align: center;
}

@media (max-width:820px) {
  .feature-col {
    padding: 3% 10%;
  }
}

.feature-img {
  width: 100px;
  padding-bottom: 20px;
}

@media (max-width:650px) {
  .feature-img {
    width: 75px;
  }
}

.feature-h3 {
  padding: 10px 0;
}

.feature-p {
  font-size: 1.2rem;
  padding: 0 5%;
}

/* @media (max-width:820px) {
  .feature-p {
    font-size: 1.25rem;
  }
} */

#carousel {
  background-color: #F3F5F7;
  color: #242D2B;
  text-align: center;
}

.carousel-content {
  margin: 5% 10%;
}

@media (max-width:820px) {
  .carousel-content {
    margin: 12% 15%;
  }
}

h2 {
  font-size: 1.75rem;
}

@media (max-width:650px) {
  h2 {
    font-size: 1.15rem;
  }
}

.carousel-img {
  width: 115px;
  border-radius: 100%;
  margin: 20px 0;
}

#press {
  background-color: #F3F5F7;
  text-align: center;
}

.press-row {
  margin: 0 0 3%;
}

.press-img {
  width: 200px;
  margin: 20px 40px;
}

.pricing-row {
  margin: 5% 0;
  color: #242D2B;
}

.pricing-h3 {
  text-align: center;
}
.pricing-h2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}

.card {
  margin: 5% 0;
}

.card-body {
  margin: 0 10%;
}
